:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Merriweather sans", sans-serif;
    --body-font: "Lato", sans-serif;

    --secondary-color-trans: #f4a3619d;
    --color-black: #181515;
    --color-white: #fff;
    --color-white-trans: #fff9;
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--color-black);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: autopx;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 40%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: blue;
}

.hero article img {
    float: right;
    width: 125px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #181515;
    color: #fff
}
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    cursor: pointer;
}

header {
    display: flex;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 1px solid black;
}

.nav {
    display: flex;
font-family: var(--heading-font);
    justify-content: space-around;
}

.nav a {
    display: flex;
    padding: 1em;
    margin: -0.14rem;
    font-family: var(--heading-font);
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    background-color: #fff;
    color:#055a05
}
li {
    list-style: none;
    display: inline-block;
}
figure {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #696969;
    color: #000;
    border: 1px solid black;
    padding: 5px;
    max-width: 200px;
    float: left;
}
.contact-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 500px;
    margin: 0% auto;
    ;
}

.contact-form label {
    font-weight: bold;
    color: black;
    float: left;
}

.contact-form input {
    padding: 10px;
    border: 1px dotted #c0c0c0;
    border-radius: 5px;
    font-size: 1em;
    max-width: 100%;
    height: auto;
    box-shadow: none;
}

.contact-form button {
    margin-top: 20%;
    padding: 5px 10px;
    background-color: var(--color-black);
    color: white;
    border: none;
    cursor: pointer;
}