:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Merriweather sans", sans-serif;
    --body-font: "Lato", sans-serif;

    --secondary-color-trans: #f4a3619d;
    --color-black: #181515;
    --color-white: #fff;
    --color-white-trans: #fff9;
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: autopx;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    background-color: var(--color-white-trans);
    color: var(--color-black);
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: center;
    padding: 1rem;
    background-color: #264653;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    font-family: var(--color-white);
}

.adventures {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.adventures h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.adventures-gallery {
    width: 150px;
    background-color: var(--color-white-trans);
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.adventures-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.adventures-gallery figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #181515;
}

.social-icons {
    display: flex;
    gap: 50px;
}

.social-icons img {
    width: 30px;
    height: auto;
}