header {
    background-color: rgb(23, 24, 30, 1.5%);
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: darkgray;
    color: #456;
    padding: 25px;
    margin: 30px;
}

nav a {
    color: white;
    display: block;
}

h2 {
    color: aliceblue;
    background-color: darkblue;
    padding: 20px;
    margin: 20px;
}

aside {
    background-color: rgb(220, 200, 230, 1.5%);
    padding: 15px;
    margin: 10px;
}

footer {
    border-top: 5px solid whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 18px;
}