body {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.35rem;
}
h1 {
    text-align: center;
}
picture img {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
    box-shadow: 0-3px 25px #333;
}
section {
background-color:gainsboro ;
max-width: 400px;
margin: 0 auto;
padding: 10px 15px;
margin-top: 25px;
}
section h2 {
    border-bottom: 1px solid#333;
    padding-bottom:10px ;
}
section p {
    padding: 0 10px;
}
footer {
  background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.35rem;  
    margin-top: 10px;
    border-radius: 5px;
}